/*MAIN*/

body { 
	font-size: 1.05em;
	line-height: 1.40em;
	font-family: 'Roboto', sans-serif;
	background: #f8f6f1;
	color: #616161;
}

.nav-link {
	color: #616161;
	text-decoration: none;
}

a:hover {
	color: #7995b4;
}

.nav-item {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
}

img {
	width: 100%;
}

header {
	background: #f8f6f1;
	width: 100%;
	height: 180px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#logo{
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
	margin-top: 20px;
	width: 150px;
	height: auto;
	display: block;
}

nav {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	max-width: 900px;
	display:block;
	text-align:center;
}

#menu-icon {
	margin-right: auto;
	margin-left: auto;
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../img/menu_icon.png) center;
	background-size: 40px 40px;
}

a:hover#menu-icon {
	background-color: #7995b4;
}

ul {
	list-style: none;
}

.current {
	color: #7995b4;
}

#wrapper {
	margin: 180px auto 70px;
	max-width: 900px;
	position: relative;
	padding: 20px
}

.left-section {
	margin-top: 25px;
	width: 230px;
	float: left;
}

#photo {
	width: 200px;
	height: auto;
	border-radius: 5%;
}

h3 {
	clear: both;
}

.title {
	color: #7995b4;
	font-weight: bold;
	text-decoration: none;
}

.link {
	color: #7995b4;
	font-weight: bold;
	text-decoration: none;
}

.my-name {
	font-weight: bold;
	text-decoration: underline;
}

.cv-content {
	width: 600px;
	float: left;
	clear: left;
	display: block;
	margin-left: 40px;
}

.cv-date {
	margin-left: 600;
	display: block;
}

#mail {
	margin-right: auto;
	margin-left: auto;
	width: 30px;
	height: auto;
	margin-top: -5px;
	display: block;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}

	.left-section {
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;
		width: 200px;
		float: none;
		display: block;
	}
}